<% layout('layout/boilerplate') %>
  <link rel="stylesheet" href="/stylesheets/searchbar.css">
  <!-- so we are injecting this content into our boiler plate    -->
  <!-- <h1  > All Campground </h1>
    <div class="text-end mb-3 " >
        <a class="btn btn-dark" type="button" href="/campgrounds/new" data-bs-toggle="tooltip"
            data-bs-placement="bottom" title="Add New Campground"> Add Campground +</a>
    </div>

     
    <div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCSP0lXndjQ2lagrKX1h_tS_1s3wC-anpsRg&usqp=CAU"  class="img-fluid" alt="">
    </div>
     -->
  <!-- 
     <div  id="">
      <p  class="fs-2 text-center fs-bolder">Welcome To Yelp Camp</p>
      </div> -->






  <!-- campground search bar start   -->

  <!-- -----------------------------------   search nav bar start  --------------------------------------------------------------------------- -->


  <div id="navbar-search">

    <div class="container-xl">





      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h4 class="display-5 fw-bold">It's time for new</h4>
          <h1 class="display-1"></h1>
        </div>
      </div>


      <div class="row d-flex justify-content-center px-3">


        <div class="col-md-10 d-inline-block searchwrapper">

          <form action="/campgrounds/search" class="input-group" id="search-form" method="post">
            <input name="search" class="searchinput" type="search" placeholder="Type to search..."
              value="<%= search %>">
            <div class="input-group-append">
              <button type="submit" class="btn btn-link border-0 btn-floating">
                <i class="fas fa-search" style="font-size: 25px;"></i>
              </button>
            </div>
          </form>
        </div>


      </div>




    </div>

  </div>


  <!-- -----------------------------------   search nav bar end --------------------------------------------------------------------------- -->


  <!-- campground seaech bar end  -->

  <!-- //  starting dispalying campground  -->
  <!-- conatiner start  -->
  <div class="container">
    <div class="row">


      <% if(!campgrounds || campgrounds.length==0){%>
        <div class="col-md-6  mx-auto mt-4 ">
          <div class="alert alert-info shadow-sm text-center" role="alert">
            <h4 class="alert-heading text-center">
              No Campground Found
            </h4>
          </div>
        </div>
        <%}%>


          <% for(let campground of campgrounds){ %>

            <div class="col-md-5  col-lg-6 col-sm-12 mx-auto removepaddingforsmall">
              <div class="card mb-3 shadow-sm p-2 showonhover">
                <% if(campground.images.length>0) {%>
                  <a href="/campgrounds/<%=campground._id%>">
                    <img class="card-img-top camp-image" src="<%=campground.images[0].url%>" alt="">
                  </a>
                  <% } %>




                    <div class="card-body">

                      <a href="/campgrounds/<%=campground._id%>">
                        <h5 class="card-title text-capitalize">
                          <%=campground.title %>
                            <small class="text-muted float-end">$<%=campground.price%> </small>
                        </h5>
                      </a>

                      <p class="card-subtitle">
                        <a href="/campgrounds/<%=campground._id%>">
                          <small class="text-muted">
                            <%=campground.location %>
                          </small>
                        </a>
                      </p>
                      <p class="text-start">
                        <small>
                          <% for(let i=0; i<parseInt(campground.campRating); i++){ %>
                            <i class="fas fa-star text-warning"></i>
                            <%}%>
                              <%if(Math.ceil(campground.campRating) - Math.floor(campground.campRating)==1){%>
                                <i class="fas fa-star-half text-warning" aria-hidden="true"></i>
                                <%}%>

                                  <% for(let i=0; i< parseInt(5-campground.campRating) ;i++){ %>
                                    <i class="fas fa-star text-muted"></i>
                                    <%}%>
                                      <%=campground.campRating%>
                        </small>
                      </p>

                    </div>
              </div>
            </div>


            <% } %>
    </div>
  </div>